ol.flex-control-nav.flex-control-paging li a{height:10px!important; width:10px!important; background:#626262!important}
ol.flex-control-nav.flex-control-paging li a.flex-active{background:#e98300!important}
.fa-th-large:before{color:#626262; font-size:15px}
.fa-instagram:before{font-size:17px; color:#626262}
.match-flex-width.dressing,.match-flex-width.dressing a{color:#616161!important; opacity:1}
h2.candid_title{font-size:17px; margin:5px 0 0 0 !important; color:#626262; font-weight:700; float:left; width:100%; text-align:center}
.slider {min-height: 310px !important;}
