ol.flex-control-nav.flex-control-paging li a{height:10px!important; width:10px!important; background:#626262!important}
ol.flex-control-nav.flex-control-paging li a.flex-active{background:#e98300!important}
.fa-th-large:before{color:#626262; font-size:15px}
.fa-instagram:before{font-size:17px; color:#626262}
.match-flex-width.dressing,.match-flex-width.dressing a{color:#616161!important; opacity:1}
.slider {min-height: 310px !important;}
#candid-overlay .item {float: none;width: auto;height: auto;border: none;padding: 0;}
#candid-overlay div.item:hover {border:none;}
#candid-overlay-link-items.candid-items3:not(.scroll-y) .candid-image-btn img {max-width: 130px;max-height: 130px;}
div#candid_specific_widget{width: 410px;margin: 0 auto;}
#candid h2 span.compartilhe_candid {margin: -2px 0px 0px 8px !important;}
#candid-overlay:hover div#overlay-profile-img-sub{visibility: visible !important;}
@media only screen and (min-width:200px) and (max-width:700px){
	div#candid_specific_widget{width: 300px !important;}
	.boxed-slider.flexslider .flex-direction-nav a.flex-prev{left: -30px;background: url(https://cdn.meumoveldemadeira.com.br/fotos-moveis/Image/mobile/header_footer_2017/candid_arrow.png)no-repeat center center #313131;opacity: 0.4;transform: rotate(180deg);width: 46px;height: 50px;}
	a.flex-next {right: -30px !important;background: url(https://cdn.meumoveldemadeira.com.br/fotos-moveis/Image/mobile/header_footer_2017/candid_arrow.png)no-repeat center center #313131 !important;opacity: 0.4 !important;width: 46px !important;height: 50px !important;transform: rotate(0deg) !important;}
	a.flex-prev:hover, a.flex-next:hover{opacity: 0.6 !important;}
	.boxed-slider-wrapper {padding: 0 20px !important;}
}
